<!-- Start team Area -->
<section id="team" class="team">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>{{ page.heading }}</h2>
        <p>{{ page.content }}</p>
      </div>

      <div class="row">

        {% for member in page.members %}
          <div class="col-lg-4 col-md-6 d-flex alighn-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="{{ member.order | minus: 1 | times: 100 }}">
              <div class="member-img">
                <img src="{{ member.img }}"
                  style="width: 100%; height: 100%"
                  class="img-fliud"
                  alt="{{ member.alt-text }}">
                <div class="social">
                  {% for link in member.links %}
                    <a href="{{ link.url }}"><i class="bi bi-{{ link.icon }}"></i></a>
                  {% endfor %}
                </div>
              </div>
              <div class="member-info">
                <h4>{{ member.name }}</h4>
                <span>{{ member.role }}</span>
                <p>{{ member.bio }}</p>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
</section>

