<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
        <h2>{{ page.title }}</h2>
        <p>{{ page.heading }}</p>
        </div>

        <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
            <img src="{{ page.image-link }}" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                {{ page.content }}
            </div>
        </div>
        </div>

    </div>
</section><!-- End About Us Section -->